# Configuración de Django
SECRET_KEY=tu_secret_key_aqui
DEBUG=True
ALLOWED_HOSTS=*

# Base de datos
DB_NAME=sunat
DB_USER=sunat_user
DB_PASSWORD=sunat_pass
DB_HOST=db
DB_PORT=5432

# SUNAT
SUNAT_RUC=20000000001
SUNAT_USUARIO=MODDATOS
SUNAT_PASSWORD=MODDATOS

# Rutas
CERTS_DIR=/app/certs
MEDIA_ROOT=/app/media
STATIC_ROOT=/app/staticfiles
